<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">

      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="fa fa-dashboard"></i> Dashboards
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to administration_dashboard_path, class: "nav-link" do %>
           Général
            <% end %>
          </li>
        </ul>
      </li>


      <li class="nav-item"><%= link_to administration_categories_path, class: "nav-link" do %><i class="fa fa-tags"></i> Catégories<% end %></li>

      <li class="nav-item"><%= link_to administration_tags_path, class: "nav-link" do %><i class="fa fa-tags"></i> Tags<% end %></li>

      <li class="nav-item"><%= link_to administration_greffes_path, class: "nav-link" do %><i class="fa fa-tags"></i> Greffes<% end %></li>



      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="fa fa-book"></i> Contenus
        </a>
        <ul class="nav-dropdown-items">

          <li class="nav-item"><%= link_to administration_articles_path, class: "nav-link" do %><i class="fa fa-list"></i> Blog<% end %></li>
        </ul>
      </li>

    </ul>
  </nav>
</div>
