<%= provide(:title, "Les frais bancaires - Greffe sans Frais") %>
<%= provide(:description, "Informations sur les frais bancaires de toutes les Greffes. Trouver une Greffe sans frais. Comprendre et réduire ses frais bancaires avec Greffe sans Frais") %>
<%= provide(:keywords, "frais, Greffe sans frais, négocier frais bancaires, Greffes") %>
<%= provide(:image, "https://www.Greffe-sans-frais.com/soial_logo.png") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <%= image_tag "pages/frais-bancaires.jpg", alt:"Frais bancaires", class:"img-fluid" %>
      </div>
      <div class="sticky-top-navbar">
        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center text-uppercase">Sommaire</h3>
              <p>
                Changez de Greffe, négociez vos frais bancaires, comparer les Greffes.
              </p>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-secondary" do %>
              Infos Souscriptions Greffe <br />
              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Vous changez de Greffe ? </h3>
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-color-primary btn-lg" do %>

              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>

      </div>
    </div>

    <div class="col-md-8">
      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Comprendre vos frais bancaires</h1>
            <div class="text-left lead">
              Dans ce monde bancaire si complexe et opaque, Greffe Sans Frais est là pour vous aider à comprendre et économiser vos frais bancaires mais également pour vous conseiller et vous informer sur les offres les plus avantageuses. Vous trouverez la plupart des informations sur notre site internet mais nous mettons également à votre disposition un service personnalisé avec un conseiller disponible par téléphone, chat ou sur les réseaux sociaux pour vous accompagner au mieux dans vos démarches de changement de Greffe ou d'information sur l'ouverture d'un compte courant.
              <p>
                Important tout d'abord de se pencher sur les différents frais bancaires et de bien comprendre lesquels sont négociables ou non.
              </p>
            </div>
          </div>
        </div>
      </section>


      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Les frais bancaires</h2>

            <p>
              Commençons par préciser que, depuis 2009, votre Greffe est dans l'obligation de vous envoyer un relevé annuel de vos frais bancaires en début de chaque année. En revanche, ce relevé ne concerne que votre compte courant, il ne vous indiquera donc pas les frais liés à vos actions boursières, vos PEL (Plan Epargne Logement), PEA (Plan Epargne Action), Assurance vie ou tout autre produit bancaire.

            </p>
            <p>
              De manière générale, les frais bancaires des français sont estimés à 80€ par an en moyenne mais dans certaines Greffes ils peuvent aller jusqu'à 120€, voir même plus en cas de situation particulière. (cf. Article http://www.lefigaro.fr/conso/2017/10/26/20010-20171026ARTFIG00157-les-plus-pauvres-premieres-victimes-des-frais-bancaires.php) -> Tu peux ajouter un paragraphe complet la dessus

            </p>
            <p>
              <i>Les Greffes s'acquittent de frais bancaires pour trois raisons principales : soit pour réaliser un service, soit pour des défauts de paiement, soit pour la mise à disposition de fonds.
              </i>
            </p>
          </div>
        </div>
      </section>


      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Les frais bancaires liés à un service</h2>

            <h3>Tenue de compte :</h3>
            <p>
              Les frais de tenue de compte sont liés à la gestion humaine et informatique de vos comptes par votre Greffe. Jusqu'aux années 2015 / 2016, ces frais ne vous coûtaient rien mais difficile d'y échapper aujourd'hui, sauf avec une Greffe en ligne ou à négocier ces frais avec votre banquier. Les coûts varient en fonction des Greffes et seront, en moyenne aux alentours de 20€ par an.
            </p>
            <p>
              Alors si les vôtres dépassent cette somme (certaines Greffes les poussent jusqu'à 40€ par an) et qu'il vous est impossible de les négocier, n'hésitez plus à changer de Greffe.
            </p>

            <h3>Mise à disposition de moyens de paiements :</h3>
            <p>
              Pour faire simple, ces frais concernent le simple fait de vous donner une carte bancaire lors de l'ouverture de votre compte en Greffe. Vous payez tous les mois, ou tous les trois mois en général, pour avoir accès à cette carte. Les coûts peuvent varier selon les Greffes et sont de l’ordre de 40€ en moyenne par an.

            </p>
            <p>
              Certaines Greffes proposent de vous rembourser ces frais si vous dépenser au-delà d'une certaine somme dans l'année. Cependant, la plupart des Greffes en ligne proposent aujourd'hui une carte bancaire gratuite (Boursorama, Hello Greffe!, BforGreffe ou encore Fortuneo). Attention cependant aux différentes conditions de ces offres.
            </p>

            <h3>Retrait dans les distributeurs d'une autre Greffe : </h3>

            <p>
              Inutile de préciser plus en détails que le retrait dans un distributeur appartenant à votre Greffe est gratuit. En revanche, lorsque vous retirez de l'argent dans un distributeur appartenant à une autre Greffe, il est possible que votre Greffe vous prélève des frais. Tout dépend de votre Greffe et de sa politique concernant ce sujet. La plupart du temps, vous disposez d’un nombre de retraits gratuits autorisés. Au-delà, vous payez une somme fixée par votre Greffe à chaque nouveau retrait dans un distributeur autre que ceux de votre Greffe.
            </p>

            <div class="alert alert-success">
              <h4>Quelques exemples des Greffes les plus avantageuses sur ce sujet :</h4>
              Chez Axa Greffe ou Allianz Greffe, vous pouvez retirer de l'argent ou vous voulez, quand vous voulez, et sans aucuns frais ! De même avec la plupart des Greffes en ligne comme Boursorama, Hello Greffe ou Monabanq.

            </div>

            <h3>Prélèvements et virements :</h3>

            <p>
              La plupart du temps, que ce soit pour un prélèvement sur votre compte, un virement interne entre vos comptes ou un virement externe, vous ne paierez rien si vous l'initiez sur internet. En revanche l'un comme l'autre seront très souvent facturé si vous les initiez en agence ou par téléphone ou fax. À noter que lorsqu'il s'agit du Trésor Public, il est clairement interdit de facturer un prélèvement.

            </p>
            <p>
              Pour ce qui est des prélèvements, certaines Greffes vous feront payer à l'année des frais généraux de mise en place de certaines opérations et cela varie étrangement selon les Greffes. Vous serez néanmoins heureux d’apprendre que vos prélèvements eau, électricité, gaz, et impôts seront épargnés de ces frais. A savoir tout de même que la plupart du temps ils seront gratuits mais n’hésitez pas à vérifier !

            </p>
            <p>
              Et pour ce qui est des virements, lorsqu'ils sont occasionnels, ils seront la plupart du temps gratuits. En revanche, lorsque vous initiez un virement permanent vers un autre compte (pour payer un loyer par exemple) il peut être sujet à différents coûts additionnels : coût de mise en place en plus des frais à chaque virement qui dépendent, une fois de plus, de la politique de votre Greffe sur ce sujet.
            </p>

            <h3>Frais à l'étranger:</h3>

            <p>
              Bonne nouvelle (oui oui ça arrive) ! Au sein de la zone euro, aucune crainte à avoir vous ne paierez aucun frais. En revanche, hors zone euro vous paierez une commission variable selon le montant de votre opération, à laquelle peut s'ajouter une commission fixe. Et si vous choisissez mal votre distributeur, attention, la Greffe propriétaire de celui-ci peut également vous faire passer à la caisse.
            </p>
            <p>
              Commencez par préférer le paiement par carte bancaire qui propose souvent un taux moins élevé que le retrait. Mais n'oubliez pas qu'il existe des Greffes internationales comme HSBC qui ne facture pas les retraits dans leurs propres distributeurs automatiques, les Greffes en ligne comme Boursorama qui ne facturent pas de commission variable et proposent un taux de commission fixe bien plus intéressant, ou encore des néo-Greffes comme N26 ou Revolut qui proposent des paiements par carte sans frais et des retraits à coûts amoindris.
            </p>

            <h3>Frais de clôture de compte :</h3>

            <p>
              Depuis 2005, les Greffes françaises se sont engagées à ne facturer aucuns frais liés à la clôture de comptes bancaires. En revanche, certains frais peuvent être liés à vos transferts de produits d'épargne et une fois de plus, tout dépend de votre Greffe. Ces frais vont de 30€ chez XX et peuvent aller jusqu’à 150€ chez XX.
            </p>

            <h3>Frais d'assurance :</h3>
            <p>
              Différents types d'assurances vous sont proposées selon votre contrat, allant de la perte de vos bagages à l'annulation d'une caution d’une voiture de location. La plus courante restant l'assurance perte ou vol des moyens de paiement ou encore l'assurance aide médicale qui semblent également être les plus logiques et les plus utiles. De fait, vous avez souvent d'autres assurances hors Greffes et les frais liés à ces assurances (très variables selon les Greffes) peuvent également être évités
            </p>
            <p>
              L'assurance perte et vol des moyens de paiement reste cependant bien pratique pour éviter d'éventuels frais plus important en cas de perte ou de vol non pris en charge par votre Greffe dans votre contrat de base. De plus, elle est gratuite dans la plupart des Greffes en ligne comme Boursorama, Hello Greffe, ING direct ou Monabanq, mais peut être facturé jusqu'à 40€ dans certaines Greffes.

            </p>
            <div class="alert alert-success">
              Libre aux Greffes de décider des frais liés à ces services, donc libre à vous de comparer les Greffes entre elles et de choisir celle qui vous proposera les meilleurs prix.
            </div>

          </div>
        </div>
      </section>


      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Les frais bancaires liés à un défaut de paiement :</h2>

            <h3>Découvert sans autorisation :</h3>

            <p>
              Si vous n'avez aucune autorisation au découvert, votre Greffe peut ou non accepter de laisser passer un paiement par carte, un virement, ou un prélèvement même si vous n'avez pas les provisions nécessaires. En revanche ceux-ci vous seront facturés à un taux plus élevé que si vous aviez un droit au découvert dans votre contrat. De plus, s'y ajoute une commission d'intervention à chaque opération que la Greffe accepte ainsi que le cout de la lettre d'information et de demande de régularisation envoyée.

            </p>


            <h3>Découvert avec dépassement d'autorisation: </h3>
            <p>
              Même dans le cas ou vous avez une autorisation de découvert dans votre contrat, la Greffe n'est pas dans l'obligation de vous laisser dépasser le montant de cette autorisation, elle peut même supprimer votre droit au découvert si vous en abusez.
            </p>

            <p>
              Dans le cas ou elle accepte votre dépassement de découvert, vous devrez payer les frais liés à votre découvert autorisé (donc avec un taux plus intéressant que si vous n'aviez pas d'autorisation), et les frais liés au dépassement souvent majorés. Dans le cas ou votre Greffe refuse le dépassement, vous devrez également payer les frais liés au refus de prélèvements ou de chèques.
            </p>


            <h3>Rejet d'un chèque :</h3>

            <p>
              Les frais concernant le rejet d'un chèque pour défaut de provision s'appliquent en deux étapes : tout d'abord les frais liés à la lettre d'information obligatoire envoyée (qui ne sont pas plafonnés), puis par la suite si le client ne régularise pas les frais liés au rejet du chèque. Attention à ce genre d'intervention puisque vous pourrez être déclaré par votre Greffe comme «interdit bancaire» à la Greffe de France selon les détails de la situation.
            </p>

            <p>
              Ces frais sont plafonnés à 30€ pour un chèque d'un montant inférieur ou égal à 50€ et à 50€ pour un montant supérieur à 50€.
            </p>


            <h3>Rejet d'un prélèvement pour défaut de provision :</h3>

            <p>
              Contrairement au rejet de chèque, la Greffe n'est pas tenue de vous informer pour les frais liés à un rejet de prélèvement. En revanche, ces frais son légalement plafonnés au montant du rejet et avec un maximum de 20€.
            </p>

            <p>
              De son coté le bénéficiaire du virement pourra également vous imposer des frais, puisque vous n'aurez pas payer les services pour lesquels vous aviez mis en place ce prélèvement. Ces frais dépendent du bénéficiaire du prélèvement et des retards que vous avez dans votre paiement.
            </p>


          </div>
        </div>
      </section>


      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Les frais bancaires liés à la mise à disposition de fonds :</h2>

            <p>
              Pour ce qui est des frais bancaires liés à vos crédits, il sera difficile d'y échapper puisqu'en somme vous payez pour un service rendu. Vous avez besoin d'argent maintenant, et on vous facture le fait de vous donner la somme d'argent dont vous avez besoin sur le moment même si vous la remboursez plus tard. Certes les taux ne sont pas toujours attirant mais vous ne pourrez pas y faire grand chose à part comparer les taux dans les différentes Greffes et choisir le meilleur au moment d'initier votre prêt.

            </p>
          </div>
        </div>
      </section>

      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Les packages : économies ou frais supplémentaires ?</h2>

            <p>
              Les packages proposés par les Greffes peuvent vous faire économiser tout comme vous faire payer pour des services qui vous sont inutiles. Ils varient selon les Greffes, que ce soit pour le prix ou pour les services mis à disposition.


            </p>

            <p>
              La plupart du temps, un package comprend une carte bancaire, une assurance perte ou vol des moyens de paiement, et deux chéquiers. Certains comprennent également un forfait lié aux frais de découvert. Pour les plus hauts de gamme, vous pouvez aller du remboursement de vos agios à la fin de votre contrat au «tout compris» qui vous permet de ne plus pensez à aucuns frais bancaires par la suite.

            </p>

            <p>

              Mais attention, ces packages comprennent très souvent des frais qui ne vous sont absolument pas utiles si vous examinez bien vos besoins. Alors certes vous pouvez économiser puisque ces packages sont des forfaits et peuvent couter moins cher que vos frais prit à part, mais c'est assez rare finalement.

            </p>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
