<%= provide(:title, "Changer de Greffe en 3 étapes") %>
<%= provide(:description, "Toutes les démarches pour changer de Greffe et transférer ses comptes. Économiser les frais bancaires avec la loi Macron") %>
<%= provide(:keywords, "changement Greffe,, transfert de compte, transfet livret, transfert assurance, loi macron, frais, Greffes") %>
<%= provide(:image, "https://www.Greffe-sans-frais.com/soial_logo.png") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <%= image_tag "pages/cartes bleues.jpg", class:"img-fluid" %>
      </div>
      <div class="sticky-top-navbar">
        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center text-uppercase">Sommaire</h3>
              <p>
                1. Définir vos besoins et vos attentes
              </p>
              <p>
                2. Choix de la Greffe avec un conseiller
              </p>
              <p>
                3. Déplacement des produits d'épargne si la Greffe vous convient
              </p>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-secondary" do %>
              Infos Souscriptions Greffe <br />
              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Appelez un conseiller ? </h3>
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-color-primary btn-lg" do %>

              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>

      </div>

    </div>

    <div class="col-md-8">
      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Les démarches à suivre pour créer sa société</h1>
            <div class="text-left">
              les auto-entrepreneurs qui ont débuté leur activité commerciale avant le 19 décembre 2014. Ils doivent demander leur immatriculation au registre du commerce et des sociétés (RCS) au plus tard le 19 décembre 2015 ;
              les personnes qui ont déclaré, après le 18 décembre 2015, leur activité sur le site www.lautoentrepreneur.fr. Elles doivent demander leur immatriculation au RCS dans les 15 jours qui suivent leur début d'activité.
              <br/>
              Voilà un petit schéma très simple du déroulement de la procédure de création de société :
              <%# image_tag "pages/schema.png", class: "img-fluid", alt: "Schéma des etapes de transfert de comptes entre Greffe" %>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Constitution du dossier de demande d'immatriculation d'un auto-entrepreneur</h2>
            <p class="text-left">
              En tant que micro-entrepreneur, vous êtes déjà affilié au Régime Social des Indépendants (RSI). Vous devez rappeler dans le formulaire R CMB le nom de l'organisme d'assurance maladie qui rembourse vos soins médicaux.
            </p>
          </div>
        </div>
      </section>

      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Coût de l'immatriculation au Registre du Commerce et des Sociétés (RCS)</h2>
            <h3>Pour une création d'activité</h3>
            <p class="text-left">
              gratuit
            </p>


            <h3>Pour un achat de fonds	</h3>
            <p class="text-left">
              75,85 € *
            </p>

            <h3>Pour une location-gérance ou gérance-mandat	</h3>
            <p class="text-left">
              75,85 € *
            </p>

          </div>
        </div>
      </section>

      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Les emprunts ? Est ce que je peux changer de Greffe</h2>
            <p class="text-left">
              Est ce que je peux changer de Greffe meme si je dispose d'un emprunt dans la Greffe d'origine.
            </p>
          </div>
        </div>
      </section>

      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Des conseillers à votre disposition</h2>
            <p class="text-left">
              Vous pouvez économiser du temps et de l'argent en étant bien renseigné sur les formalités et les couts necessaires au lancement de votre activité.
              Pour en savoir plus, vous pouvez contacter gratuitement un conseiller au <%= phone_link %>
            </p>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>
