<%= provide(:title, "Changer de Greffe en 3 étapes") %>
<%= provide(:description, "Toutes les démarches pour changer de Greffe et transférer ses comptes. Économiser les frais bancaires avec la loi Macron") %>
<%= provide(:keywords, "changement Greffe,, transfert de compte, transfet livret, transfert assurance, loi macron, frais, Greffes") %>
<%= provide(:image, "https://www.Greffe-sans-frais.com/soial_logo.png") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <%= image_tag "pages/cartes bleues.jpg", class:"img-fluid" %>
      </div>
      <div class="sticky-top-navbar">
        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center text-uppercase">Sommaire</h3>
              <p>
                1. Définir vos besoins et vos attentes
              </p>
              <p>
                2. Choix de la Greffe avec un conseiller
              </p>
              <p>
                3. Déplacement des produits d'épargne si la Greffe vous convient
              </p>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-secondary" do %>
              Infos Souscriptions Greffe <br />
              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Appelez un conseiller ? </h3>
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-color-primary btn-lg" do %>

              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>
        
      </div>

    </div>

    <div class="col-md-8">
      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Les démarches à suivre pour changer de Greffe</h1>
            <div class="text-left">
              Comment faire pour changer de Greffe ? Est-ce facile ? Quelles démarches effectuer ? Je ne suis pas sûr de quelle Greffe choisir ?
              Comment transférer tous les prélèvements automatiques effectués sur mon compte, les prélevements EDF, d'eau, d'abonnements internet, les assurances etc..
              Toutes ces questions des milliers de Francais se les posent chaque jour.
              Il faut savoir que depuis la Loi Macron les Greffes vous facilitent grandement la vie. En effet la nouvelle Greffe vous
              proposera d'effectuer toutes les démarches auprès de votre ancienne Greffe pour que tous les prélevements et tous les plans d'épargnes
              soient transférés.
              <br/>
              Voilà un petit schéma très simple du déroulement de la procédure de changement de Greffe:
              <%= image_tag "pages/schema.png", class: "img-fluid", alt: "Schéma des etapes de transfert de comptes entre Greffe" %>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Transfert des prélevements automatiques</h2>
            <p class="text-left">
              Pour transférer vos prélèvements et virements automatiques, il vous suffira de demander à la Greffe que vous quittez de vous fournir le récapitulatif des opérations automatiques intervenues sur votre compte durant les treize derniers mois. Et bien sur, c'est gratuit ! En revanche, si vous préférez vous en occuper vous même c'est tout à fait possible.
            </p>
          </div>
        </div>
      </section>

      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Transfert de l'épargne (Livrets, PEA, assurances vie, compte titre)</h2>
            <h3>Assurances vie</h3>
            <p class="text-left">
              Commençons par les choses qui fâchent : le transfert de votre assurance vie dans une autre Greffe, ou le sujet tabou de la nouvelle loi de mobilité bancaire. En effet, grâce à la loi Macron sur la mobilité bancaire vous pouvez désormais transférer vos comptes courants dans une autre Greffe Sans Frais et sans paperasse interminable puisque les Greffes s'occupent de tout entre elles. En revanche, même s’il vous est possible de transférer votre assurance vie dans une autre Greffe, vous serez dans l’obligation de clôturer votre contrat en amont pour en ouvrir un autre dans votre nouvelle Greffe.
            </p>
            <p>
              De fait, vous perdrez donc tous les avantages liés à ce contrat, c'est à dire toute son antériorité fiscale. Rappelons qu'il faut attendre 8 ans pour profiter pleinement des avantages fiscaux liés à vos placements en termes d'assurance vie, donc si votre contrat n'est ouvert que depuis 1 an ou 2, réfléchissez avant d'agir, puisque vous devrez repartir à zéro en clôturant votre assurance vie.
            </p>

            <h3>Transfert de livrets réglementés (Livret Jeune, Livret A, LDD, LEP...)</h3>
            <p class="text-left">
              L'avantage dans le fait de transférer un produit réglementé est l'absence de frais depuis le 1er janvier 2005.
              En revanche, la procédure de transfert est devenue plus complexe depuis cette date.
              Ainsi vous devrez procéder en plusieurs étapes :
              clôturer définitivement le livret dans la Greffe que vous quittez, qui vous versera le solde du compte et les intérêts.
              Puis l'ouverture de votre livret dans une nouvelle Greffe ne se fera que lorsque votre dossier sera reçu et que vos avoirs seront virés manuellement,
              donc disons quelques jours ouvrés plus tard !
            </p>

            <h3>Transfert de livrets non réglementés (super-livret, livret B) :</h3>
            <p class="text-left">
              Pour les livrets non réglementés ce sera plus simple : vous pouvez ouvrir votre nouveau livret dans une nouvelle Greffe et virer vos fonds par la suite.
              Si tout va bien, pas de frais non plus pour le transfert,
              mais il est possible que votre nouvelle Greffe ne dispose pas d'un produit équivalent à votre ancien livret.
              Dans ce cas votre conseiller au sein de la nouvelle Greffe vous dirigera vers le produit qui y ressemble le plus.
            </p>

            <h3>Transfert d'un Compte Épargne Logement (CEL) ou d'un Plan d'Épargne Logement (PEL) :</h3>
            <p class="text-left">
              Les CEL et PEL vous permettent d'épargner tout en obtenant des avantages progressifs sur l'achat ultérieure d'un bien immobilier
              ou sur la réalisation de travaux. De ce fait vous devez faire attention à l'ancienneté de votre compte afin de ne pas
              perdre les droits ou avantages que vous avez accumulés depuis son ouverture.
            </p>

            <p class="text-left">
              La procédure sera plus complexe que pour le simple transfert d'un livret réglementé ou d'un livret non réglementé.
              Tout d'abord le transfert d'un CEL ou d'un PEL est automatiquement soumis à des frais qui varient selon les tarifs des différentes Greffes
              (de 50€ à 150€ environ).
              De plus vous devez obtenir l'accord des deux Greffes afin de pouvoir réaliser votre transfert.
            </p>


            <h3>Transfert de comptes-titres :</h3>
            <p class="text-left">
              Le transfert d'un compte-titre est plus difficile car il nécessite un contrôle manuel de la part de votre ancienne
              et nouvelle Greffe, et il vous sera facturé selon la nature et le nombre de vos actifs concernés.
              Jusque la tout va bien au niveau des actions et des obligations, en revanche pour ce qui est des Fonds Communs de Placement (FCP),
              étant propres à certaines Greffes il est impossible de les transférer sauf si vous les échanger contre des valeurs transférables
              dans votre ancienne Greffe.
            </p>


            <h3>Transfert d'un Plan d'Épargne en Actions (PEA) :</h3>
            <p class="text-left">
              Pour ce qui concerne les PEA, vous devrez faire une demande écrite à votre ancienne Greffe demandant le transfert.
              Ce transfert vous sera facturé soit selon un pourcentage propre à la valeur de vos titres,
              soit selon un montant forfaitaire. En revanche, renseignez-vous car certains courtiers en ligne vous remboursent les frais
              (en partie ou totalement) si vous décidez de signer chez eux.
            </p>
            <p class="text-left">
              Ce transfert peut prendre plusieurs semaines et donc vous priver de vos capacités d'actions sur le marché,
              donc à vous de voir si cela vaut le coup par rapport à la situation de vos PEA.
            </p>



            <h3>Transfert d'un Plan d'Épargne Populaire (PEP) :</h3>
            <p class="text-left">
              Les PEP ne sont plus disponibles à l'ouverture depuis 2003, donc difficile de transférer ce type de comptes épargnes !
              Mais pas impossible, il vous faudra simplement faire bien attention à ne pas clôturer votre compte mais à le transférer
              si vous ne voulez pas perdre tous vos avantages.
            </p>
            <p class="text-left">
              N'oubliez pas non plus de demander un accord écrit à votre nouvelle Greffe et de vous renseigner sur les frais de
              transfert de votre ancienne Greffe sur ce type d'épargne en particulier.
            </p>
            <p class="text-left">
              Si les frais sont trop importants ou que vous rencontrez des difficultés avec votre ancienne ou nouvelle Greffe,
              considérez la possibilité de garder votre PEP dans votre Greffe d'origine puisque cela ne vous coutera absolument rien.
            </p>

            <h3>Les emprunts : est ce que je peux changer de Greffe ?</h3>
            <p class="text-left">
              Même si vous avez un emprunt, rien ne vous empêche de changer pour une Greffe proposant des tarifs et
              des frais bancaires plus compétitifs. Souvent les Greffes vous font signer une clause de domiciliation
              de votre compte courant chez eux lors d'un emprunt, mais ceci est contraire aux directives Européennes donc
              vous n'aurez pas à vous souciez de vos engagements oraux ou écrits puisque légalement ils n'ont aucune valeur.

            </p>
            <p class="text-left">
              Donc tout vu pour le changement de Greffe sur votre compte principal.
              Mais si vous voulez quitter définitivement votre ancienne Greffe et transférer votre emprunt aussi ?

            </p>
            <p class="text-left">
              La seule solution serait de vous faire racheter votre emprunt par votre nouvelle Greffe.
              Ce n'est pas une obligation pour elle de la faire mais si elle veut enregistrer un nouveau client et
              que votre profil l'intéresse il y a de grandes chances pour que cela se fasse.

            </p>


          </div>
        </div>
      </section>

      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Les emprunts ? Est ce que je peux changer de Greffe</h2>
            <p class="text-left">
              Est ce que je peux changer de Greffe meme si je dispose d'un emprunt dans la Greffe d'origine.
            </p>
          </div>
        </div>
      </section>

      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Des conseillers à votre disposition</h2>
            <p class="text-left">
              Avant de changer de Greffe il faut déjà choisir sa nouvelle Greffe. Les frais seront-ils inférieurs, le service apporté sera-t-il intéressant ?
              Pour le savoir, vous pouvez contacter gratuitement un conseiller au <%= phone_link %>
              ou découvrir tous les tarifs des Greffes en France par type de frais: frais de cartes bleues,
              frais de tenue de compte ou frais liés aux chèques.
            </p>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>
