<%= provide(:title, "RCS - Trouver votre greffe") %>
<%= provide(:description, "Informations sur les formalités administratives liées à la création de société. Trouver une Pro-greffe. Trouvez un RCS.") %>
<%= provide(:keywords, "Greffe, RCS, société, fromalités") %>
<%= provide(:image, "https://www.greffe-sans-frais.com/soial_logo.png") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <%= image_tag "pages/negocier-frais-bancaires.jpg", alt:'negocier frais bancaires', class:"img-fluid" %>
      </div>


      <div class="sticky-top-navbar">

        <!-- <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center text-uppercase">Sommaire</h3>
              <p>
                Créer votre société, faciliter vos démarches, réussir vos formalités administratives.
              </p>
            </div>
          </div>
        </section> -->

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-secondary" do %>
              Infos trouver un greffe <br />
              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Vous souhaitez créer votre entreprise ? </h3>
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-color-primary btn-lg" do %>

              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>

      </div>


    </div>

    <div class="col-md-8">
      <!-- <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Négocier ses frais bancaires</h1>
            <div class="text-left">
              Négocier avec son banquier n’est pas chose aisée, vous vous trouvez face à quelqu’un qui connait les produits par
              cœur et sait comment vous les vendre.
              Bien que tout ne soit pas négociable, nous allons vous communiquer quelques astuces pour sortir gagnants de cette affaire.
              Avant tout chose, il faut savoir que votre profil client est très important dans une négociation, plus votre profil attire le banquier
              (Contrat de travail, propriétaire, etc…) plus il sera enclin à céder à vos demandes.

              <p>
                Soyez malins et tout ira bien !
              </p>
            </div>
          </div>
        </div>
      </section> -->


      <!-- <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Carte Bleue</h2>
            <div class="text-center lead">
              Négocier les tarifs et les frais liés à votre carte de paiement
            </div>
            <p>
              Pour négocier les frais de sa carte bleue, il faut choisir le bon moment.
              Il est évident que le banquier sera plus attentif à votre requête en amont de votre ouverture de compte plutôt qu’en aval.
              Il paraît aussi logique qu’un client, qui a un compte dans cette Greffe depuis des années,
              puisse utiliser cette fidélité pour bien négocier une réduction de ses frais bancaires.
            </p>
            <p>
              Vous pouvez, ainsi, bénéficier d’une CB gratuite pendant un an voire deux ou bien d’une Visa Premier au prix d’une Visa Classic.
              N’hésitez pas à faire jouer la concurrence en utilisant, notamment,
              les Greffes en ligne qui proposent ce service gratuitement.
              Mettez en avant l’argument de l’utilisation de cette CB, en effet, plus vous utilisez votre CB,
              plus votre Greffe va gagner de l’argent. Expliquez à votre banquier que plus la carte sera haut de gamme,
              moins elle aura de plafond et plus vou pourrez l’utiliser. Le voilà dans les cordes, il ne pourra vous contredire !
            </p>
            <p>
              Il suffit juste de demander et vous voilà entrain d’économiser entre 40 et 120 Euros pour une année.
              C’est pas mal pour commencer non ?!
            </p>
          </div>
        </div>
      </section> -->

      <!-- <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Les agios</h2>
            <div class="text-center lead">
              Vous êtes souvent à découvert ? Vous payez beaucoup de frais ? Découvrez notre astuce
            </div>
            <p>
              Ah les agios ! Célèbre mot que nous entendons de la bouche du banquier
              mais dont personne ne connaît le vrai sens ni le mode de calcul.
            </p>
            <p>
              Les Agios sont calculés trimestriellement à partir d’un taux annuel effectif global (différent selon les Greffes)
              auquel sont ajoutés des frais de commissions d’intervention. C’est encore flou ?
              Nous vous comprenons, c’est pourquoi nous allons vous donner un exemple :
            </p>
            <p>
              Monsieur Pichon a un compte débiteur de 1000€ et ceci depuis 90 jours (Pas bien !).
              En plus du harcèlement téléphonique qu’il va subir,
              Monsieur Pichon va se voir rajouter par son banquier un taux de 10% de TAEG.
            </p>
            <p>
              Calculons le montant d’Agios de Monsieur Pichon :


            </p>
            <p class="">
              <code class="d-block p-2">(1000€ * 90)*10%/365= 24.65€</code>

            </p>

            <p>
              Mais ce n’est pas tout, Monsieur Pichon va payer des frais de commissions d’intervention qui sont à 10€ dans sa Greffe ce qui fait monter
              la note totale à 34.65€
            </p>

            <p>
              Super !
            </p>

            <p>
              Il faut savoir que, selon la loi, la Greffe se doit de proposer à son client un crédit pour se sortir de cette mauvaise passe.
              Dans le cas contraire, les agios doivent être supprimés.
            </p>

            <p>
              Mais nos amis banquiers sont malins et ont trouvé le moyen de contourner cette loi, tout simplement, en faisant signer à leurs clients une autorisation de découvert sans limite de durée.
            </p>
            <p>
              Alors pensez à négocier la suppression de cette clause au moment de votre engagement avec votre nouvelle Greffe !
              Si votre compte est déjà ouvert, profitez d’une erreur de votre Greffe en votre défaveur pour négocier
              la suppression de cette clause ainsi que d’autres privilèges. En contrepartie vous allez fermer les yeux sur cette
              erreur honteuse et ne pas clôturer votre compte. En fait, c’est vous qui lui rendez service !
            </p>

          </div>
        </section>

        <section class="page-section pt-5">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Taux d'emprunt</h2>
              <div class="text-center lead">
                Négocier son taux d’emprunt reste plus ou moins compliqué, ainsi, il faut prouver à votre banquier que vous êtes un client sérieux. Évidemment, un client qui est souvent en découvert, qui n’a pas de contrat de travail n’est pas en position de force face à son banquier.

              </div>
              <p>
                Il faut arriver à convaincre votre interlocuteur en lui montrant un CDI, votre passif bancaire en montrant que vous
                n’êtes jamais ou presque à découvert. Dernier détail, plus votre épargne est grande plus votre banquier sera réceptif
                à cette demande
              </p>
              <p class="alert alert-success">
                <i class="fa fa-arrow-right"></i>	Avec de très bonnes preuves vous pouvez baisser votre taux de 3%.
              </p>
            </div>
          </div>
        </section>


        <section class="page-section pt-5">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Assurance du prêt</h2>
              <div class="text-center lead">
                Renseignez-vous sur les formalités de création de sociétés avec un de nos conseillers :
              </div>
              <p>
                Après avoir bouclé la négociation du taux d’emprunt, il faudra passer à celle de l’assurance. L’assurance dépendra de plusieurs facteurs : âge, revenus, etc... Evidemment, après une longue et dure négociation sur le taux, votre banquier sera plus fermé à l’idée de négocier l’assurance. Dans ce cas utilisez l’argument de la concurrence :
              </p>
              <div class="alert alert-success">
                "Voilà, monsieur le banquier, chez votre concurrent je suis largement gagnant par rapport à l’assurance que vous me proposez."
              </div>
              <div class="alert alert-success">
                « Ecoutez, Monsieur, la question du taux est close nous en avons discuté et nous nous sommes mis d’accord dessus. Concernant l’assurance, dois-je vous rappeler la loi Lagarde de 2010 ? Je suis sûr que vous la connaissez mais je vous la rappelle quand même. Cette loi permet aux souscripteurs d’un crédit immobilier de choisir l’assurance qui leur convient le plus, ils ne sont donc pas obligés d’accepter l’assurance que leur propose le prêteur. »
              </div>
              <div class="alert alert-warning">
                « Bon je vais voir avec mon supérieur ce que nous pouvons faire et je reviens. »
              </div>
              <p>
                C’est gagné ! Il va revenir avec un petit sourire et vous dire qu’un petit effort sera fait. En effet, la Greffe préfère faire des concessions  que perdre un client à qui elle allait (en plus) vendre un prêt immobilier.
              </p>
            </div>
          </div>
        </section>

        <section class="page-section pt-5">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Assurance-vie et Livret</h2>
              <div class="text-center lead">
                Changez de Greffe avec nos conseillers
              </div>
              <p>
                Malheureusement, vous ne pourrez pas négocier le taux des livrets réglementés (Livret A, Livret LDD, Livret PEP, Livret Jeune etc)à la hausse, puisque ce taux est fixé par l’Etat. Enfin, si ! Vous pouvez toujours tenter de négocier mais pour cela, il faudra prendre RDV avec Monsieur Macron (bon courage !).
              </p>
              <p>
                Néanmoins, l’assurance-vie ainsi que le PEA sont négociables et pour cela il faudra s’armer de patience et de l’argument de la concurrence (encore lui). Prouvez à votre banquier, justificatifs en mains, que les assureurs sur internet offrent beaucoup plus d’avantages (aucuns frais d’ouverture de compte, gratuité des droits de garde, etc…).
              </p>
              <p>
                Dans le cas d’une ouverture d’un compte courant ou joint, vous pouvez demander une ristourne en argumentant qu’il vous a déjà vendu beaucoup de produits et qu’il pourrait faire un effort sur ce point.

              </p>

            </div>
          </div>
        </section>

        <section class="page-section pt-5">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Changer de Greffe sinon:</h2>
              <div class="text-center lead">
                Parfois il vaut mieux changer de Greffe. Aujourd'hui la concurrence est très forte dans le milieu bancaire. Les consommateurs bénéficient donc de tarifs particulierement attractifs.

              </div>
              <p>
                Avant de changer de Greffe il faut comparer les différents établissements bancaires et faire une simulation personnalisée de sa situation.
                Pour ce faire différents outils existent. <a href="https://www.bankizy.com">bankizy</a> est un des meilleurs sites de comparaison de Greffes
                avec une simulation personnalisée et l'ensemble des tarifs bancaires de toutes les Greffes.
              </p>

            </div>
          </div>
        </section>

      </div> -->
    </div>
  </div>
