<%= provide(:title, "Mentions légales") %>
<%= provide(:description, "Mentions légales du site") %>
<%= provide(:keywords, "mentions légales") %>
<%= provide(:image, "https://www.Greffe-sans-frais.com/soial_logo.png") %>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Mentions légales</h1>
      <div class="row">
        <%= image_tag "legal_mention.jpg", class:"img-fluid" %>
      </div>
    </div>
  </div>
</div>
