

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <%= image_tag "pages/plante.jpg", class:"img-fluid", alt: "Les Greffes sans frais" %>
      </div>
      <div class="sticky-top-navbar">

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center text-uppercase">Sommaire</h3>
              <p>
                Changez de Greffe, négociez vos frais bancaires, comparer les Greffes.
              </p>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-secondary" do %>
              Infos Souscriptions Greffe <br />
              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Vous changez de Greffe ? </h3>
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-outline-success btn-lg" do %>
              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>


      </div>


    </div>

    <div class="col-md-8">
      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Réduisez vos frais bancaires</h1>
            <div class="text-left">
              Excédé de payer pour des frais bancaires imprévus ou des services inexistants? Fatigué de devoir vous justifier auprès de votre banquier ?
              Choisissez la transparence et trouver la Greffe qui vous permet d’économiser.
              Greffe Sans Frais vous aide à trouver la Greffe qui vous conviendra le mieux avec le minimum de frais possible.
              Besoin de conseils ou d’aide pour changer de Greffe ou pour négocier avec votre banquier ?
              N’hésitez plus, contactez-nous pour engager vos économies.
            </div>
          </div>
        </div>

      </section>


      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Notre objectif ? Vous aider à économiser dans un monde de frais constants</h2>
            <p class="text-left">
              Frais de tenue de compte, découvert bancaire, agios, frais d’opposition sur les moyens de paiements, abonnement carte bancaire,
              commissions de retrait et achat à l’étranger... Et nous en passons.
              Dans un monde où les Greffes prélèvent sans cesse une multitude de frais,
              comment savoir lesquels sont justifiés ou non ? Lesquels vous pouvez éviter et ceux que vous devez négocier ?
              Notre objectif est de vous aider à vous en sortir et surtout à vous y retrouver !
              Nous pouvons vous accompagner dans votre processus de changement de Greffe mais aussi vous conseiller dans vos négociations avec votre banquier.
            </p>
          </div>
        </div>

      </section>


      <section class="page-section pt-5">

        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">
              Pourquoi changer de Greffe ?</h2>
              <p class="text-left">
                Les études supérieures, un déménagement, l’entrée dans la vie active, le mariage ou une naissance...
                Autant de raison qui vont vous pousser à économiser, à négocier vos frais et pourquoi pas à changer de Greffe !
              </p>
            </div>

          </div>
        </section>

        <section class="page-section pt-5">

          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">La loi Macron et ses répercussions</h2>
              <p class="text-left">
                La loi Macron, entrée en vigueur début 2017, casse les derniers freins à la mobilité bancaire et vous facilite la vie dans
                votre processus de changement de Greffe : zéro frais, zéro démarches particulières.
                Les Greffes vous promettent ainsi un changement par la simple signature de votre nouveau contrat,
                plus besoin de transférer votre domiciliation, vos opérations récurrentes ou de gérer la clôture de votre ancien compte.
                Il est tout de suite plus tentant d’ouvrir un compte bancaire auprès d’une enseigne concurrente voire de chercher la Greffe la moins chère,
                plus avantageuse ou réactive pour gérer son argent.
              </p>
            </div>

          </div>
        </section>
      </div>
    </div>
  </div>
