

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <%= image_tag "pages/plante.jpg", class:"img-fluid", alt: "Les Greffes sans frais" %>
      </div>
      <div class="sticky-top-navbar">

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center text-uppercase">Sommaire</h3>
              <p>
                Changez de Greffe, négociez vos frais bancaires, comparer les Greffes.
              </p>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-secondary" do %>
              Infos Souscriptions Greffe <br />
              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>

        <hr />

        <section class="page-section p-3 ">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Vous changez de Greffe ? </h3>
              <%= link_to "tel:#{PhoneGenerator.main_phone_intern}", class: "btn btn-outline-success btn-lg" do %>
              <%= PhoneGenerator.main_phone %>
              <% end %>
            </div>
          </div>
        </section>


      </div>


    </div>

    <div class="col-md-8">
      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Trouvez le greffe le plus proche de chez vous </h1>
            <div class="text-left">
              Le Greffier contrôle la régularité juridique du dossier d’immatriculation, le valide et adresse à la société un extrait du Registre du Commerce et des Sociétés dans le délai franc d’un jour ouvrable (à compter du dépôt du dossier complet au greffe). L’immatriculation de la société est réalisée. Le Greffe adresse au déclarant un extrait du Registre du Commerce et des Sociétés.

              Dans un délai allant de une à trois semaines, l’INSEE attribue à la société le numéro administratif d’identification de la personne. Ce numéro ne produit aucun effet juridique. Il figurera sur les quatre extraits du Registre du Commerce et des Sociétés qui seront adressés par le greffe dès son attribution.

              Si le dossier est incomplet ou si les actes et les pièces justificatives ne sont pas conformes aux textes en vigueur, le Greffe adresse à la société une lettre de notification de refus lui demandant de régulariser son dossier dans un délai de quinze jours. Passé ce délai et à défaut de régularisation, la totalité du dossier lui sera retourné par pli recommandé avec accusé de réception.
            </div>
          </div>
        </div>

      </section>


      <section class="page-section pt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Notre objectif ? Vous aider à trouver un RCS efficace, proche de chez vous</h2>
            <p class="text-left">
              L’immatriculation confère aux sociétés la personnalité morale, et aux personnes physiques la présomption de la qualité de commerçant.

              L’immatriculation se matérialise par la délivrance de l’extrait d'immatriculation au registre du commerce et des sociétés (extrait " Kbis "). Ce document officiel atteste de l’existence de l’entreprise.

              L’extrait du Registre du Commerce et des Sociétés devra généralement être produit par le créateur d’entreprise pour mener à bien ses démarches tant auprès des administrations qu’auprès de ses relations d’affaires.

              Par la suite, tout événement modificatif intervenant dans l’entreprise devra obligatoirement faire l’objet d’une déclaration au Registre du Commerce et des Sociétés dans un délai d’un mois. Cette obligation légale permet aux tiers (clients, fournisseurs ...) d’avoir une information aussi complète que possible sur la situation juridique de leurs partenaires commerciaux.
            </p>
          </div>
        </div>

      </section>


      <section class="page-section pt-5">

        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">
              Pourquoi bien choisir son RCS ?</h2>
              <p class="text-left">
                Ces extraits reprennent l’ensemble des mentions enregistrées auprès du RCS et représentent un document légal attestant de l’existence juridique de l’entreprise.

Il est fréquemment demandé à une entreprise de fournir un extrait KBIS de moins de 3 mois qu’elle obtiendra auprès du Greffe du Tribunal de commerce.
              </p>
            </div>

          </div>
        </section>

        <section class="page-section pt-5">

          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Les auto-entrepreneurs doivent-ils s'immatriculer au RCS ?</h2>
              <p class="text-left">
                Depuis le 19 Décembre 2014, les auto-entrepreneurs exerçant à titre principal ou complémentaire une activité commerciale ou de prestation de services, jusqu’alors dispensés d’immatriculation au RCS,  sont dans l’obligation de le faire.
                Pour les nouveaux auto-entrepreneurs, cette déclaration se fait au moment de leur déclaration d’activité.
                Pour les auto-entrepreneurs qui ont débuté leur activité avant le 19 Décembre 2014, la demande d’immatriculation doit être faite avant le 19 Décembre 2015.
                Cette immatriculation reste gratuite.
              </p>
            </div>

          </div>
        </section>
      </div>
    </div>
  </div>
