<%= form_for([:administration, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nom de la catégorie" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :type, "Type de la catégorie" %><br>
    <%= f.select :type, Category.types.map {|c| [c.humanize, c.camelcase]}, {},  {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description de la catégorie" %><br>
    <%= f.text_area :description, class: "form-control"  %>
  </div>
  <%= render partial: "administration/general_forms/small_image", locals:{small_imageable: @category, f: f} %>


  <h3>Administration</h3>
  <div class="form-group">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>
  <div class="form-group">
    <%= f.label :admin_check %><br>
    <%= f.check_box :admin_check %>
  </div>
  <div class="form-group">
    <%= f.label :slug %><br>
    <%= f.text_field :slug, class: "form-control"   %>
  </div>
  <div class="actions text-center">
    <%= f.submit "Mettre à jour", class: "btn btn-success btn-lg" %>
  </div>
<% end %>
