<section id="footer" class="background-primary color-white pt-5 pb-5" role="contentinfo">
	<div class="container">
		<div class="row ">
			<hr class="landing-hr">
			<div class="col-md-4 text-center">
				<h4 class="color-white">Nous contacter</h4>
				Nos conseillers sont disponibles pour vous du Lundi au Samedi de 9h à 22h
				<br />
				Vous pouvez nous contacter au <%= link_to PhoneGenerator.main_phone, "tel:#{PhoneGenerator.main_phone_intern}" %><br/>

			<strong>Pro-greffe est un service 100% gratuit</strong>
			</div>
			<div class="col-md-4 text-center">
				<h4 class="color-white">Nos guides</h4>
				<ul class="list-unstyled">
					<% Article.all.each do |article| %>
					<li>
						<%= link_to article.name, article %>
					</li>
					<% end %>


				</ul>
			</div>
			<div class="col-md-4 text-center">
				<ul class="list-unstyled">
					<li>
						<%= link_to "Mentions légales", home_legal_mention_path %>
					</li>
					<li class="mt-3">
						<%= link_to "https://www.facebook.com/pg/Greffe-sans-frais-166887993901295", class: "m-2 no-underline" do %>
						<i class="fa fa-2x fa-facebook"></i>
						<% end %>

						<%= link_to "https://twitter.com/GreffeSansFrais", class: "m-2 no-underline" do %>
						<i class="fa fa-2x fa-twitter"></i>
						<% end %>

						<%= link_to "https://www.linkedin.com/company/11362508/admin/overview/", class: "m-2 no-underline" do %>
						<i class="fa fa-2x fa-linkedin"></i>
						<% end %>

						<% if administrator_signed_in? %>
						<li>
							Uniquement vu par administrateur
						</li>

						<li>
							<%= link_to "Catégories", categories_path %>
						</li>
						<li>
							<%= link_to "Nouvel article", new_article_path %>
						</li>
						<% end %>



					</li>
				</ul>
			</div>
		</div>


		<div class="row mt-3">
			<div class="col-md-12 mb-2">
				<h3 class="text-center">Les greffes par département</h3>
			</div>
			<% Department.find_each do |department| %>
			<div class="col-md-4">
					<%= link_to "greffes de #{department.name}", department %>
			</div>
			<% end %>
		</div>


	</div>
</section>
